html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
}

.img-flex {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 45em;
  margin: 0;
}

.img {
  display: flex;
  margin: 0;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.banner {
  max-height: 500px;
  display: flex;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.content {
  max-width: 45em;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
}

.btn {
  padding: .5em .75em;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}
